body{
    display: flex;
}
.box{
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    height: 150px;
    width: 150px;
    align-items: center;
    margin-right: 5px;
}
.blue{
    background-color: blue;
    
}
.box2{
    background-color: yellow;
}
.box3{
    background-color: red;
  
}
